@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*
  2. Remove default margin and padding
*/
* {
  margin: 0;
  padding: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

body {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1.125rem;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body p {
  color: hsl(241, 100%, 89%);
  line-height: 1.3;
}
body h1 {
  font-size: 3rem;
  font-weight: 800;
}
body h2 {
  font-size: 1.5rem;
}
body h1, body h2 {
  color: hsl(0, 0%, 100%);
}
body h3 {
  font-size: 1.375rem;
}
body .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 375px;
}
body .main .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(252, 100%, 67%)), to(hsl(241, 81%, 54%)));
  background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  padding: 1.5rem 2.75rem;
  border-radius: 0 0 2rem 2rem;
}
body .main .left__circle {
  max-width: 140px;
  width: 100%;
  height: 140px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(256, 72%, 46%)), to(hsla(241, 72%, 46%, 0)));
  background-image: linear-gradient(to bottom, hsl(256, 72%, 46%), hsla(241, 72%, 46%, 0));
  display: grid;
  place-content: center;
  margin-block: 1.75rem;
  line-height: 1.5;
}
body .main .left__result {
  margin-bottom: 1.125rem;
}
body .main .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.75rem 1.875rem;
  gap: 1.5rem;
  font-weight: 700;
}
body .main .right__heading {
  color: hsl(224, 30%, 27%);
}
body .main .right__scores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
body .main .right__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.125rem;
  border-radius: 1rem;
}
body .main .right__categories--reaction {
  color: hsl(0, 100%, 67%);
  background-color: hsla(0, 100%, 67%, 0.1);
}
body .main .right__categories--memory {
  color: hsl(39, 100%, 56%);
  background-color: hsla(39, 100%, 56%, 0.1);
}
body .main .right__categories--verbal {
  color: hsl(166, 100%, 37%);
  background-color: hsla(166, 100%, 37%, 0.1);
}
body .main .right__categories--visual {
  color: hsl(234, 85%, 45%);
  background-color: hsla(234, 85%, 45%, 0.1);
}
body .main .right__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
}
body .main .right__score {
  color: hsl(224, 30%, 27%);
}
body .main .right__total {
  color: hsla(224, 30%, 27%, 0.5);
}
body .main .right__button {
  background-color: hsl(224, 30%, 27%);
  color: hsl(221, 100%, 96%);
  padding-block: 1.125rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
body .main .right__button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsl(252, 100%, 67%)), to(hsl(241, 81%, 54%)));
  background-image: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
}

@media screen and (min-width: 48em) {
  body {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body h1 {
    font-size: 3.75rem;
  }
  body h2 {
    font-size: 1.875rem;
  }
  body .main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 735px;
    border-radius: 2rem;
    -webkit-box-shadow: 8px 16px 24px hsl(227, 77%, 95%);
            box-shadow: 8px 16px 24px hsl(227, 77%, 95%);
  }
  body .main .left {
    padding: 2.75rem 3.75rem;
    border-radius: 2rem;
  }
  body .main .left__heading {
    font-size: 1.25rem;
  }
  body .main .left__circle {
    max-width: 200px;
    width: 100%;
    height: 200px;
    margin-block: 2.25rem;
  }
  body .main .left__result {
    margin-bottom: 1.25rem;
  }
  body .main .right {
    padding: 2.75rem 2.5rem;
    gap: 1.875rem;
  }
  body .main .right__heading {
    font-size: 1.5rem;
  }
  body .main .right__button {
    margin-top: 0.875rem;
  }
}/*# sourceMappingURL=style.css.map */