@use 'resets';
@use 'variables' as *;

body{
    font-family: $ff;
    font-size: $fs-normal;
    font-weight: $fw-normal;
    display: flex;
    justify-content: center;

    p{
        color: $lavender;
        line-height: 1.3;
    }

    h1{
        font-size: 3rem;
        font-weight: $fw-bolder;
    }

    h2{
        font-size: 1.5rem;
    }

    h1,h2{
        color: $white;
    }

    h3{
        font-size: 1.375rem;
    }

    .main{
        display: flex;
        flex-direction: column;
        max-width: 375px;

        .left{
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-image: $backgroundGradient;
            padding: 1.5rem 2.75rem;
            border-radius: 0 0 2rem 2rem;

            &__circle{
                max-width: 140px;
                width: 100%;
                height: 140px;
                border-radius: 50%;
                background-image: $circleGradient;
                display: grid;
                place-content: center;
                margin-block: 1.75rem;
                line-height: 1.5;
            }

            &__result{
                margin-bottom: 1.125rem;
            }
        }

        .right{
            display: flex;
            flex-direction: column;
            padding: 1.75rem 1.875rem;
            gap: 1.5rem;
            font-weight: $fw-bold;

            &__heading{
                color: $darkBlue;
            }

            &__scores{
                display:flex;
                flex-direction: column;
                gap: 1rem;
            }

            &__categories{
                display: flex;
                justify-content: space-between;
                padding: 1.125rem;
                border-radius: 1rem;

                &--reaction{
                    color: $red;
                    background-color: hsla(0, 100%, 67%,0.1);
                }
    
                &--memory{
                    color: $orange;
                    background-color: hsla(39, 100%, 56%,0.1);
                }
    
                &--verbal{
                    color: $green;
                    background-color: hsla(166, 100%, 37%,0.1);
                }
    
                &--visual{
                    color: $blue;
                    background-color: hsla(234, 85%, 45%,0.1);
                }
            }

            &__details{
                display: flex;
                gap: 1rem;
            }
    
            &__score{
                color: $darkBlue;
            }
            
            &__total{
                color: hsla(224, 30%, 27%,0.5);
            }

            &__button{
                background-color: $darkBlue;
                color: $paleBlue;
                padding-block: 1.125rem;
                border: none;
                border-radius: 2rem;
                cursor: pointer;
    
                &:hover{
                    background-image: $backgroundGradient;
                }
            }
        }
    }
}

@media screen and (min-width:48em){
    body{
        align-items: center;

        h1{
            font-size: 3.75rem;
        }

        h2{
            font-size: 1.875rem;
        }

        .main{
            display: grid;
            grid-template-columns: 1fr 1fr;
            max-width: 735px;
            border-radius: 2rem;
            box-shadow: 8px 16px 24px hsl(227,77,95);

            .left{
                padding: 2.75rem 3.75rem;
                border-radius: 2rem;

                &__heading{
                    font-size: 1.25rem;
                }

                &__circle{
                    max-width: 200px;
                    width: 100%;
                    height: 200px;
                    margin-block: 2.25rem;

                }

                &__result{
                    margin-bottom: 1.25rem;
                }

            }

            .right{
                padding: 2.75rem 2.5rem;
                gap: 1.875rem;

                &__heading{
                    font-size: 1.5rem;
                }

                &__button{
                    margin-top: 0.875rem;
                }
            }
        }
    }
}